From: https://github.com/ksatola
Version: 0.0.1

# Data Wrangling in R (part 1)

**Data wrangling** covers loading, manipulating, reshaping, and exploring data structures.

## Table of Contents

- [Understanding Data](#data)
- [Data Frames](#dataframe)
- [Working with CSV Data](#csv)
- [Factors](#fac)
- [Manipulating Data with dplyr](#dplyr)
- [The Pipe Operator](#pipe)
- [Tibble](#tib)
- [Joining Data Frames Together](#join)

---
<a id='data'></a>

## Understanding Data

1. **Where data come from?** - `When working with any data set, it is vital to consider where the data came from, who, how and why recorded it - to effectively and meaningfully analyze it`.
    - **Sensors** - assuming these devices have been properly calibrated, they offer a reliable and consistent mechanism for data collection.
    - **Surveys** - are dependent on individuals self-reporting, their quality may vary. The biases inherent in survey responses should be recognized and (if possible) adjusted.
    - **Record keeping** - based on manual or automatic process to keep track of different (business) activities. The reliability depends on quality of systems producing it and the way they are gathered. Record keeping may only focus on particular tasks.
    - **Secondary data analysis** - data compiled from existing knowledge artifacts or measurements (such as historical texts). These artifacts may already exclude perspectives.
    

2. **Dataset sources**:

    - Government piblications
    - News and journalism (New York time, FiveThirtyEight)
    - Scientific research (Nature Recommended Data Repositories)
    - Social networks and media organizations (Facebook, Twitter, Google)
    - Online communities (Kaggle, Socrata, UCI ML Repository)
    

3. Once you acquire a data set, you will have to **understand its structure and content** before (programmatically) investigating it. You need to know what kinds of statistical analysis will be valid for different types of data, as well as how to interpret what that data are measuring.

4. **Data interpretation**. Working with data requires domain knowledge, at least a basic level of understanding of the problem domain (the meaning of data), significance and purpose of any feature (to detect outliers and errors), and some of the subtleties that may not be explicit in the data set (such as biases or aggregations that may hide important causalities). `Gathering domain knowledge almost always requires outside research`.

5. **Organize your data into data structures**. Usually these structures allow building one or more (connected) tables where columns represent features and rows observations. You need to understand data schema and specific context for all values. Use meta-data (data about data) as a starter.

6. **Use data to answer questions**, this will require translating from various domain questions to specific observations and features in your data set. You need to be able to decide **what precisely is meant by a question** - a task that requires understanding the nuances found in the questions' problem domain.

---
<a id='dataframe'></a>

## Data Frames

**Data Frames** act like tables, where data is organized into rows and columns. Technically, data frames are lists in which each element is a vector of the same length (as other vectors). Each vector represents a column, not a row. The elements at corresponding indices in the vectors are considered part of the same row (record). With this design, each row may have a different type of data, and vector's elements must all be of the same type.

### Create

In [21]:
# Create a data frame
name <- c("Alice", "John", "Melinda")
height <- c(150, 170, 165)
weight <- c(60, 70, 65)

# Factors are categorical variables (like: small, medium, large)
people <- data.frame(name, height, weight, stringsAsFactors = FALSE)

# or

people <- data.frame(
    name = c("Alice", "John", "Melinda"), 
    height = c(150, 170, 165), 
    weight = c(60, 70, 65), 
    stringsAsFactors = FALSE)

In [22]:
people

  name    height weight
1 Alice   150    60
2 John    170    70
3 Melinda 165    65

In [23]:
# Dollar notation
people_weights <- people$weight
print(people_weights)

[1] 60 70 65

In [24]:
# Double-bracket notation
people_weights <- people[["weight"]]
print(people_weights)

[1] 60 70 65

In [25]:
# Single-bracket notation
# see below

### Inspect

In [26]:
nrow(people)

[1] 3

In [27]:
ncol(people)

[1] 3

In [28]:
print(dim(people)) # rows, cols

[1] 3 3

In [29]:
print(colnames(people))

[1] "name"   "height" "weight"

In [30]:
print(rownames(people))

[1] "1" "2" "3"

In [31]:
print(head(people))

     name height weight
1   Alice    150     60
2    John    170     70
3 Melinda    165     65

In [32]:
print(tail(people))

     name height weight
1   Alice    150     60
2    John    170     70
3 Melinda    165     65

In [33]:
# Open the data frame in a spreadsheet-like viewer (only in RStudio)
View(people)

ERROR: Error in View(people): ‘View()’ not yet supported in the Jupyter R kernel

### Access

In [37]:
# Single-bracket notation
# Elements by row and column names or mixed
people[1, "name"]

[1] "Alice"

In [38]:
# Elements by row and column indices
people[1,1]

[1] "Alice"

In [39]:
# Row by name/index
people[1,]

  name  height weight
1 Alice 150    60

In [41]:
# Column by name/index
print(people[,1])

[1] "Alice"   "John"    "Melinda"

In [44]:
# Assign a set of row names for the vector
print(rownames(people))
rownames(people) <- people$name
print(rownames(people))

[1] "1" "2" "3"
[1] "Alice"   "John"    "Melinda"

In [45]:
people["Alice", "name"]

[1] "Alice"

In [48]:
# Get multiple rows and columns
people[,c("height", "weight")]

        height weight
Alice   150    60
John    170    70
Melinda 165    65

In [49]:
people[2:3,]

        name    height weight
John    John    170    70
Melinda Melinda 165    65

In [51]:
people[people$height > 160,]

        name    height weight
John    John    170    70
Melinda Melinda 165    65

### Type & Convertion

In [52]:
is.data.frame(people)

[1] TRUE

In [58]:
v1 = c(1,2,3)
is.data.frame(v1)
print(as.data.frame(v1))

[1] FALSE

  v1
1  1
2  2
3  3

---
<a id='csv'></a>

## Working with CSV Data

- For a script to work on any computer, **relative (not absolute) path** is the best choice.
- Setup a working directory via `Session > Set Working Directory` (in RStudio).
- You should always include `stringsAsFactors = FALSE` argument when either loading or creating data frames. Factors are categorical variables (like: small, medium, large)

In [62]:
# Read from a CSV file
people <- read.csv("data/simpleR.csv", stringsAsFactors = FALSE)
head(people)

  first_name weight height
1 Ada        64     135
2 Bob        74     156
3 Chris      69     139
4 Diya       69     144
5 Emma       71     152

In [63]:
# Write to a CSV file
write.csv(people, "data/simpleRwrite.csv", row.names = FALSE)

In [64]:
# See available in R datasets
data()

Data sets in package ‘.’:

NOAA_QCLCD_2011_hourly_13904

airquality
airquality_dup
billboard
cars
digits
digits_header
dob_job_application_filings

dob_job_application_filings2

dob_job_application_filings_subset

dob_job_application_filings_subset2

ebola
ebola2
ebola_melt
election
election2
etl_population_data
etl_projects_data
g1800s
g1900s
g2000s
gapminder
gapminder2
gapminder_2010
gapminder_agg_final
gapminder_final
ind_pop
ind_pop_data
mnist_kaggle_some_rows

moby_dick
numerical_data
nyc_uber_2014
olympics
sales2
sales3
sales4
sales5
seaslug
simpleR
simpleRwrite
site
status_country
survey
tb
timeseries1
timeseries2
timeseries3
timeseries4
timeseries5
timeseries6
timeseries7
timeseries8
tips
tips2
tips3
tips4
tips5
titanic
titanic2
titanic_corrupt
titanic_gender_submission

titanic_test
titanic_train
tweets
tweets3
tweets_api
uber1
uber2
uber3
users
visited
visited2
weather2
weather_case_study
weather_case_study2
winequality-red
world_dev_ind
Data sets in package ‘datasets’:

AirPassengers           Monthly Airline Passenger Numbers 1949-1960
BJsales                 Sales Data with Leading Indicator
BJsales.lead (BJsales)
                        Sales Data with Leading Indicator
BOD                     Biochemical Oxygen Demand
CO2                     Carbon Dioxide Uptake in Grass Plants
ChickWeight             Weight versus age of chicks on different diets
DNase                   Elisa assay of DNase
EuStockMarkets          Daily Closing Prices of Major European Stock
                        Indices, 1991-1998
Formaldehyde            Determination of Formaldehyde
HairEyeColor            Hair and Eye Color of Statistics Students
Harman23.cor            Harman Example 2.3
Harman74.cor            Harman Example 7.4
Indometh                Pharmacokinetics of Indomethacin
InsectSprays            Effectiveness of Insect Sprays
JohnsonJohnson          Quarterly Earnings per Johnson & Johnson Share
LakeHuron               Level of Lake Huron 1875-1972
LifeCycleSavings        Intercountry Life-Cycle Savings Data
Loblolly                Growth of Loblolly pine trees
Nile                    Flow of the River Nile
Orange                  Growth of Orange Trees
OrchardSprays           Potency of Orchard Sprays
PlantGrowth             Results from an Experiment on Plant Growth
Puromycin               Reaction Velocity of an Enzymatic Reaction
Seatbelts               Road Casualties in Great Britain 1969-84
Theoph                  Pharmacokinetics of Theophylline
Titanic                 Survival of passengers on the Titanic
ToothGrowth             The Effect of Vitamin C on Tooth Growth in
                        Guinea Pigs
UCBAdmissions           Student Admissions at UC Berkeley
UKDriverDeaths          Road Casualties in Great Britain 1969-84
UKgas                   UK Quarterly Gas Consumption
USAccDeaths             Accidental Deaths in the US 1973-1978
USArrests               Violent Crime Rates by US State
USJudgeRatings          Lawyers' Ratings of State Judges in the US
                        Superior Court
USPersonalExpenditure   Personal Expenditure Data
UScitiesD               Distances Between European Cities and Between
                        US Cities
VADeaths                Death Rates in Virginia (1940)
WWWusage                Internet Usage per Minute
WorldPhones             The World's Telephones
ability.cov             Ability and Intelligence Tests
airmiles                Passenger Miles on Commercial US Airlines,
                        1937-1960
airquality              New York Air Quality Measurements
anscombe                Anscombe's Quartet of 'Identical' Simple Linear
                        Regressions
attenu                  The Joyner-Boore Attenuation Data
attitude                The Chatterjee-Price Attitude Data
austres                 Quarterly Time Series of the Number of
                        Australian Residents
beaver1 (beavers)       Body Temperature Series of Two Beavers
beaver2 (beavers)       Body Temperature Series of Two Beavers
cars                    Speed and Stopping Distances of Cars
chickwts                Chicken Weights by Feed Type
co2                     Mauna Loa Atmospheric CO2 Concentration
crimtab                 Student's 3000 Criminals Data
discoveries             Yearly Numbers of Important Discoveries
esoph                   Smoking, Alcohol and (O)esophageal Cancer
euro                    Conversion Rates of Euro Currencies
euro.cross (euro)       Conversion Rates of Euro Currencies
eurodist                Distances Between European Cities and Between
                        US Cities
faithful                Old Faithful Geyser Data
fdeaths (UKLungDeaths)
                        Monthly Deaths from Lung Diseases in the UK
freeny                  Freeny's Revenue Data
freeny.x (freeny)       Freeny's Revenue Data
freeny.y (freeny)       Freeny's Revenue Data
infert                  Infertility after Spontaneous and Induced
                        Abortion
iris                    Edgar Anderson's Iris Data
iris3                   Edgar Anderson's Iris Data
islands                 Areas of the World's Major Landmasses
ldeaths (UKLungDeaths)
                        Monthly Deaths from Lung Diseases in the UK
lh                      Luteinizing Hormone in Blood Samples
longley                 Longley's Economic Regression Data
lynx                    Annual Canadian Lynx trappings 1821-1934
mdeaths (UKLungDeaths)
                        Monthly Deaths from Lung Diseases in the UK
morley                  Michelson Speed of Light Data
mtcars                  Motor Trend Car Road Tests
nhtemp                  Average Yearly Temperatures in New Haven
nottem                  Average Monthly Temperatures at Nottingham,
                        1920-1939
npk                     Classical N, P, K Factorial Experiment
occupationalStatus      Occupational Status of Fathers and their Sons
precip                  Annual Precipitation in US Cities
presidents              Quarterly Approval Ratings of US Presidents
pressure                Vapor Pressure of Mercury as a Function of
                        Temperature
quakes                  Locations of Earthquakes off Fiji
randu                   Random Numbers from Congruential Generator
                        RANDU
rivers                  Lengths of Major North American Rivers
rock                    Measurements on Petroleum Rock Samples
sleep                   Student's Sleep Data
stack.loss (stackloss)
                        Brownlee's Stack Loss Plant Data
stack.x (stackloss)     Brownlee's Stack Loss Plant Data
stackloss               Brownlee's Stack Loss Plant Data
state.abb (state)       US State Facts and Figures
state.area (state)      US State Facts and Figures
state.center (state)    US State Facts and Figures
state.division (state)
                        US State Facts and Figures
state.name (state)      US State Facts and Figures
state.region (state)    US State Facts and Figures
state.x77 (state)       US State Facts and Figures
sunspot.month           Monthly Sunspot Data, from 1749 to "Present"
sunspot.year            Yearly Sunspot Data, 1700-1988
sunspots                Monthly Sunspot Numbers, 1749-1983
swiss                   Swiss Fertility and Socioeconomic Indicators
                        (1888) Data
treering                Yearly Treering Data, -6000-1979
trees                   Diameter, Height and Volume for Black Cherry
                        Trees
uspop                   Populations Recorded by the US Census
volcano                 Topographic Information on Auckland's Maunga
                        Whau Volcano
warpbreaks              The Number of Breaks in Yarn during Weaving
women                   Average Heights and Weights for American Women

Use ‘data(package = .packages(all.available = TRUE))’
to list the data sets in all *available* packages.

In [65]:
View(mtcars)

ERROR: Error in View(mtcars): ‘View()’ not yet supported in the Jupyter R kernel

In [66]:
# Get an absolute path to the current working directory
getwd()

[1] "/Users/ksatola/Documents/git/Data-Science-Notes"

---
<a id='fac'></a>

## Factors

Factors are categorical variables (like: small, medium, large). Factors are not vectors, vector methods will not work on them.

In [70]:
shirt_sizes <- c("small", "medium", "large", "small", "large")
print(shirt_sizes)

[1] "small"  "medium" "large"  "small"  "large"

In [71]:
shirt_sizes_factor <- as.factor(shirt_sizes)
print(shirt_sizes_factor)

[1] small  medium large  small  large
Levels: large medium small

In [72]:
length(shirt_sizes_factor)

[1] 5

In [73]:
is.factor(shirt_sizes_factor)

[1] TRUE

---
<a id='dplyr'></a>

## Manipulating Data with dplyr

The [**dplyr**](https://dplyr.tidyverse.org/) ("Dee-ply-er") package is the preeminent tool for data wrangling in R. It provides programmers with an intuitive vocabulary for executing data management and analysis tasks.

**dplyr** is a `grammar of data manipulation`, providing a consistent set of verbs that help you solve the most common data manipulation challenges:

- `mutate()` adds new variables that are functions of existing variables
- `select()` picks variables based on their names.
- `filter()` picks cases based on their values.
- `summarise()` reduces multiple values down to a single summary.
- `arrange()` changes the ordering of the rows.

In [77]:
# Once per machine
install.packages("dplyr")
# or
install.packages("tidyverse") # dplyr is one of the package of tidyverse collection

The downloaded binary packages are in
	/var/folders/qk/0l3zx9w11959pqp8tr5s_1780000gn/T//Rtmp61f83k/downloaded_packages

The downloaded binary packages are in
	/var/folders/qk/0l3zx9w11959pqp8tr5s_1780000gn/T//Rtmp61f83k/downloaded_packages

In [76]:
# In each relevant script
library("dplyr")

Attaching package: ‘dplyr’


The following objects are masked from ‘package:stats’:

    filter, lag


The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union

In [78]:
# Load a dataset from pscl package
install.packages("pscl")
library("pscl")

The downloaded binary packages are in
	/var/folders/qk/0l3zx9w11959pqp8tr5s_1780000gn/T//Rtmp61f83k/downloaded_packages

Classes and Methods for R developed in the
Political Science Computational Laboratory
Department of Political Science
Stanford University
Simon Jackman
hurdle and zeroinfl functions by Achim Zeileis

In [79]:
View(presidentialElections)

ERROR: Error in View(presidentialElections): ‘View()’ not yet supported in the Jupyter R kernel

In [80]:
?presidentialElections

presidentialElections           package:pscl           R Documentation

_e_l_e_c_t_i_o_n_s _f_o_r _U._S. _P_r_e_s_i_d_e_n_t, _1_9_3_2-_2_0_1_6, _b_y _s_t_a_t_e

_D_e_s_c_r_i_p_t_i_o_n:

     Democratic share of the presidential vote, 1932-2016, in each
     state and the District of Columbia.

_U_s_a_g_e:

     data(presidentialElections)

_F_o_r_m_a_t:

        • ‘state’character, name of state

        • demVotenumeric, percent of the vote for president won by the
          Democratic candidate

        • yearnumeric, integer

        • southlogical, ‘TRUE’ if state is one of the 11 states of the
          former Confederacy

_N_o_t_e:

     1,047 observations, unbalanced panel data in long format. Hawaii
     and Alaska contribute data from 1960 onwards the District of
     Columbia contributes data from 1964 onward; Alabama has missing
     data for 1948 and 1964.

_S_o_u_r_c_e:

     David Leip's Atlas of U.S. Presidential Elections <URL:
     uselectionatlas.org>

_E_x_a_m_p_l_e_s:

     data(presidentialElections)
     if(require(lattice)) {
         lattice::xyplot(demVote ~ year | state,
            panel=lattice::panel.lines,
            ylab="Democratic Vote for President (percent)",
            xlab="Year",
            data=presidentialElections,
            scales=list(y=list(cex=.6),x=list(cex=.35)),
            strip=strip.custom(par.strip.text=list(cex=.6)))
     }

     ## Obama vs Kerry, except DC
     y08 <- presidentialElections$year==2008
     y04 <- presidentialElections$year==2004
     tmpData <- merge(y=presidentialElections[y08,],
                      x=presidentialElections[y04,],
                      by="state")
     tmpData <- tmpData[tmpData$state!="DC",]
     xlim <- range(tmpData$demVote.x,tmpData$demVote.y)
     col <- rep("black",dim(tmpData)[1])
     col[tmpData$south.x] <- "red"

     plot(demVote.y ~ demVote.x,
          xlab="Kerry Vote Share, 2004 (percent)",
          ylab="Obama Vote Share, 2008 (percent)",
          xlim=xlim,
          ylim=xlim,
          type="n",
          las=1,
          data=tmpData)
     abline(0,1,lwd=2,col=gray(.65))
     ols <- lm(demVote.y ~ demVote.x,
               data=tmpData)
     abline(ols,lwd=2)

     text(tmpData$demVote.x,
          tmpData$demVote.y,
          tmpData$state,
          col=col,
          cex=.65)
     legend(x="topleft",
            bty="n",
            lwd=c(2,2),
            col=c(gray(.65),"black"),
            legend=c("No Change from 2004","Regression"))
     legend(x="bottomright",
            bty="n",
            text.col=c("red","black"),
            legend=c("South","Non-South"))

In [84]:
head(presidentialElections)

  state       demVote year south
1 Alabama     84.76   1932  TRUE
2 Arizona     67.03   1932 FALSE
3 Arkansas    86.27   1932  TRUE
4 California  58.41   1932 FALSE
5 Colorado    54.81   1932 FALSE
6 Connecticut 47.40   1932 FALSE

In [88]:
votes <- select(presidentialElections, year, demVote)
head(votes)
# or in a classical way:
#votes <- presidentialElections[, c("year", "demVote")]

  year demVote
1 1932 84.76
2 1932 67.03
3 1932 86.27
4 1932 58.41
5 1932 54.81
6 1932 47.40

In [89]:
# Select range
votes <- select(presidentialElections, year:demVote)
head(votes)

  year demVote
1 1932 84.76
2 1932 67.03
3 1932 86.27
4 1932 58.41
5 1932 54.81
6 1932 47.40

In [ ]:
# Select except 'year'

In [90]:
votes <- select(presidentialElections, -year)
head(votes)

  state       demVote south
1 Alabama     84.76    TRUE
2 Arizona     67.03   FALSE
3 Arkansas    86.27    TRUE
4 California  58.41   FALSE
5 Colorado    54.81   FALSE
6 Connecticut 47.40   FALSE

In [95]:
# filter()
votes_2008 <- filter(presidentialElections, year == 2008)
head(votes_2008)
# or in a classical way:
# votes_2008 <- presidentialElections[presidentialElections$year == 2008, ] #selected rows, all cols

  state      demVote year south
1 Alabama    38.74   2008  TRUE
2 Alaska     37.89   2008 FALSE
3 Arizona    44.91   2008 FALSE
4 Arkansas   38.86   2008  TRUE
5 California 60.94   2008 FALSE
6 Colorado   53.66   2008 FALSE

In [97]:
# Extract rows for the state of Colorado in 2008
votes_colorado_2008 <- filter(
    presidentialElections, 
    year == 2008, 
    state == "Colorado"
)
head(votes_colorado_2008)

  state    demVote year south
1 Colorado 53.66   2008 FALSE

In [ ]:
# Add row names of a dataframe as a new column called row_names
df <- mutate(df, row_names = rownames(df))

In [99]:
# mutate() to create new columns, returns a new dataframe
presidentialElections <- mutate(
    presidentialElections,
    other_parties_vote = 100 - demVote,
    abs_vote_difference = abs(demVote - other_parties_vote)
)
head(presidentialElections)

  state       demVote year south other_parties_vote abs_vote_difference
1 Alabama     84.76   1932  TRUE 15.24              69.52
2 Arizona     67.03   1932 FALSE 32.97              34.06
3 Arkansas    86.27   1932  TRUE 13.73              72.54
4 California  58.41   1932 FALSE 41.59              16.82
5 Colorado    54.81   1932 FALSE 45.19               9.62
6 Connecticut 47.40   1932 FALSE 52.60               5.20

In [100]:
# arrange() to sort rows by some feature (column value), returns a new dataframe
# Arrange rows in decreasing order by year, then by demVote
presidentialElections <- arrange(presidentialElections, -year, demVote)
head(presidentialElections)

  state         demVote year south other_parties_vote abs_vote_difference
1 West Virginia 26.18   2016 FALSE 73.82              47.64
2 Utah          27.17   2016 FALSE 72.83              45.66
3 North Dakota  27.23   2016 FALSE 72.77              45.54
4 Idaho         27.48   2016 FALSE 72.52              45.04
5 Oklahoma      28.93   2016 FALSE 71.07              42.14
6 South Dakota  31.74   2016 FALSE 68.26              36.52

In [101]:
presidentialElections <- arrange(presidentialElections, desc(year), demVote)
head(presidentialElections)

  state         demVote year south other_parties_vote abs_vote_difference
1 West Virginia 26.18   2016 FALSE 73.82              47.64
2 Utah          27.17   2016 FALSE 72.83              45.66
3 North Dakota  27.23   2016 FALSE 72.77              45.54
4 Idaho         27.48   2016 FALSE 72.52              45.04
5 Oklahoma      28.93   2016 FALSE 71.07              42.14
6 South Dakota  31.74   2016 FALSE 68.26              36.52

In [102]:
# summarize() to aggregate each collumn to a single value
average_votes <- summarize(
    presidentialElections,
    mean_dem_vote = mean(demVote),
    mean_other_parties = mean(other_parties_vote)
)
head(average_votes)

  mean_dem_vote mean_other_parties
1 48.3594       51.6406

---
<a id='pipe'></a>

## The Pipe Operator

The **pipe operator** `%>%` takes the result from one function and passes it in as the first argument to the next function. This operator is loaded with dplyr but works with any R function.

In [104]:
# Question: Which state had the highest percentage of votes for the Democratic Party 
#  (B. Obama) candidate in 2008?
most_dem_state <- presidentialElections %>% # data frame to start with
    filter(year == 2008) %>% # 1. Filter down to only 2008 votes
    filter(demVote == max(demVote)) %>% # 2. Filter down to the the highest demVote
    select(state) # 3. Select name of the state
print(most_dem_state)

# A tibble: 1 x 1
  state
  <chr>
1 DC

In [107]:
# group_by() to create associations among groups of rows in a data frame
# Group observations by state
grouped <- group_by(presidentialElections, state)
head(grouped)

  state         demVote year south other_parties_vote abs_vote_difference
1 West Virginia 26.18   2016 FALSE 73.82              47.64
2 Utah          27.17   2016 FALSE 72.83              45.66
3 North Dakota  27.23   2016 FALSE 72.77              45.54
4 Idaho         27.48   2016 FALSE 72.52              45.04
5 Oklahoma      28.93   2016 FALSE 71.07              42.14
6 South Dakota  31.74   2016 FALSE 68.26              36.52

In [110]:
# Once rows are groupped other verbs can be applied, 
#  and they will be automatically applied to each group
state_voting_summary <- presidentialElections %>%
    group_by(state) %>%
    summarize(
        mean_dem_vote = mean(demVote),
        mean_other_parties = mean(other_parties_vote)
    )
head(state_voting_summary)

  state      mean_dem_vote mean_other_parties
1 Alabama    50.75250      49.24750
2 Alaska     37.49600      62.50400
3 Arizona    45.43545      54.56455
4 Arkansas   52.43364      47.56636
5 California 51.29955      48.70045
6 Colorado   45.60955      54.39045

---
<a id='tib'></a>

## Tibble
**Tibble** is a kind of data frame used in tidyverse.

In [112]:
# convert tibble into a normal data frame
normal_df <- as.data.frame(state_voting_summary)
head(normal_df)

  state      mean_dem_vote mean_other_parties
1 Alabama    50.75250      49.24750
2 Alaska     37.49600      62.50400
3 Arizona    45.43545      54.56455
4 Arkansas   52.43364      47.56636
5 California 51.29955      48.70045
6 Colorado   45.60955      54.39045

---
<a id='join'></a>

## Joining Data Frames Together

In [ ]:
# Combine (join) donations and donors data frames by their shared column donor_name
combined_data <- left_join(donations, donors, by = "donor_name")

# When the tables have different identifiers
combined_data <- left_join(donations, donors, by = c("donor_name" = "another_column"))

In [ ]:
right_join()
inner_join()
full_join()

In [ ]:
---
<a id='dataframe'></a>