From: https://github.com/ksatola
Version: 0.0.1

# Data Wrangling in R

**Data wrangling** covers loading, manipulating, reshaping, and exploring data structures.

## Table of Contents

- [Understanding Data](#data)
- [Data Frames](#dataframe)
- [Working with CSV Data](#csv)
- [Factors](#fac)

---
<a id='data'></a>

## Understanding Data

1. **Where data come from?** - `When working with any data set, it is vital to consider where the data came from, who, how and why recorded it - to effectively and meaningfully analyze it`.
    - **Sensors** - assuming these devices have been properly calibrated, they offer a reliable and consistent mechanism for data collection.
    - **Surveys** - are dependent on individuals self-reporting, their quality may vary. The biases inherent in survey responses should be recognized and (if possible) adjusted.
    - **Record keeping** - based on manual or automatic process to keep track of different (business) activities. The reliability depends on quality of systems producing it and the way they are gathered. Record keeping may only focus on particular tasks.
    - **Secondary data analysis** - data compiled from existing knowledge artifacts or measurements (such as historical texts). These artifacts may already exclude perspectives.
    

2. **Dataset sources**:

    - Government piblications
    - News and journalism (New York time, FiveThirtyEight)
    - Scientific research (Nature Recommended Data Repositories)
    - Social networks and media organizations (Facebook, Twitter, Google)
    - Online communities (Kaggle, Socrata, UCI ML Repository)
    

3. Once you acquire a data set, you will have to **understand its structure and content** before (programmatically) investigating it. You need to know what kinds of statistical analysis will be valid for different types of data, as well as how to interpret what that data are measuring.

4. **Data interpretation**. Working with data requires domain knowledge, at least a basic level of understanding of the problem domain (the meaning of data), significance and purpose of any feature (to detect outliers and errors), and some of the subtleties that may not be explicit in the data set (such as biases or aggregations that may hide important causalities). `Gathering domain knowledge almost always requires outside research`.

5. **Organize your data into data structures**. Usually these structures allow building one or more (connected) tables where columns represent features and rows observations. You need to understand data schema and specific context for all values. Use meta-data (data about data) as a starter.

6. **Use data to answer questions**, this will require translating from various domain questions to specific observations and features in your data set. You need to be able to decide **what precisely is meant by a question** - a task that requires understanding the nuances found in the questions' problem domain.

---
<a id='dataframe'></a>

## Data Frames

**Data Frames** act like tables, where data is organized into rows and columns. Technically, data frames are lists in which each element is a vector of the same length (as other vectors). Each vector represents a column, not a row. The elements at corresponding indices in the vectors are considered part of the same row (record). With this design, each row may have a different type of data, and vector's elements must all be of the same type.

### Create

In [21]:
# Create a data frame
name <- c("Alice", "John", "Melinda")
height <- c(150, 170, 165)
weight <- c(60, 70, 65)

# Factors are categorical variables (like: small, medium, large)
people <- data.frame(name, height, weight, stringsAsFactors = FALSE)

# or

people <- data.frame(
    name = c("Alice", "John", "Melinda"), 
    height = c(150, 170, 165), 
    weight = c(60, 70, 65), 
    stringsAsFactors = FALSE)

In [22]:
people

  name    height weight
1 Alice   150    60
2 John    170    70
3 Melinda 165    65

In [23]:
# Dollar notation
people_weights <- people$weight
print(people_weights)

[1] 60 70 65

In [24]:
# Double-bracket notation
people_weights <- people[["weight"]]
print(people_weights)

[1] 60 70 65

In [25]:
# Single-bracket notation
# see below

### Inspect

In [26]:
nrow(people)

[1] 3

In [27]:
ncol(people)

[1] 3

In [28]:
print(dim(people)) # rows, cols

[1] 3 3

In [29]:
print(colnames(people))

[1] "name"   "height" "weight"

In [30]:
print(rownames(people))

[1] "1" "2" "3"

In [31]:
print(head(people))

     name height weight
1   Alice    150     60
2    John    170     70
3 Melinda    165     65

In [32]:
print(tail(people))

     name height weight
1   Alice    150     60
2    John    170     70
3 Melinda    165     65

In [33]:
# Open the data frame in a spreadsheet-like viewer (only in RStudio)
View(people)

ERROR: Error in View(people): ‘View()’ not yet supported in the Jupyter R kernel

### Access

In [37]:
# Single-bracket notation
# Elements by row and column names or mixed
people[1, "name"]

[1] "Alice"

In [38]:
# Elements by row and column indices
people[1,1]

[1] "Alice"

In [39]:
# Row by name/index
people[1,]

  name  height weight
1 Alice 150    60

In [41]:
# Column by name/index
print(people[,1])

[1] "Alice"   "John"    "Melinda"

In [44]:
# Assign a set of row names for the vector
print(rownames(people))
rownames(people) <- people$name
print(rownames(people))

[1] "1" "2" "3"
[1] "Alice"   "John"    "Melinda"

In [45]:
people["Alice", "name"]

[1] "Alice"

In [48]:
# Get multiple rows and columns
people[,c("height", "weight")]

        height weight
Alice   150    60
John    170    70
Melinda 165    65

In [49]:
people[2:3,]

        name    height weight
John    John    170    70
Melinda Melinda 165    65

In [51]:
people[people$height > 160,]

        name    height weight
John    John    170    70
Melinda Melinda 165    65

### Type & Convertion

In [52]:
is.data.frame(people)

[1] TRUE

In [58]:
v1 = c(1,2,3)
is.data.frame(v1)
print(as.data.frame(v1))

[1] FALSE

  v1
1  1
2  2
3  3

---
<a id='csv'></a>

## Working with CSV Data

- For a script to work on any computer, **relative (not absolute) path** is the best choice.
- Setup a working directory via `Session > Set Working Directory` (in RStudio).
- You should always include `stringsAsFactors = FALSE` argument when either loading or creating data frames. Factors are categorical variables (like: small, medium, large)

In [62]:
# Read from a CSV file
people <- read.csv("data/simpleR.csv", stringsAsFactors = FALSE)
head(people)

  first_name weight height
1 Ada        64     135
2 Bob        74     156
3 Chris      69     139
4 Diya       69     144
5 Emma       71     152

In [63]:
# Write to a CSV file
write.csv(people, "data/simpleRwrite.csv", row.names = FALSE)

In [64]:
# See available in R datasets
data()

Data sets in package ‘.’:

NOAA_QCLCD_2011_hourly_13904

airquality
airquality_dup
billboard
cars
digits
digits_header
dob_job_application_filings

dob_job_application_filings2

dob_job_application_filings_subset

dob_job_application_filings_subset2

ebola
ebola2
ebola_melt
election
election2
etl_population_data
etl_projects_data
g1800s
g1900s
g2000s
gapminder
gapminder2
gapminder_2010
gapminder_agg_final
gapminder_final
ind_pop
ind_pop_data
mnist_kaggle_some_rows

moby_dick
numerical_data
nyc_uber_2014
olympics
sales2
sales3
sales4
sales5
seaslug
simpleR
simpleRwrite
site
status_country
survey
tb
timeseries1
timeseries2
timeseries3
timeseries4
timeseries5
timeseries6
timeseries7
timeseries8
tips
tips2
tips3
tips4
tips5
titanic
titanic2
titanic_corrupt
titanic_gender_submission

titanic_test
titanic_train
tweets
tweets3
tweets_api
uber1
uber2
uber3
users
visited
visited2
weather2
weather_case_study
weather_case_study2
winequality-red
world_dev_ind
Data sets in package ‘datasets’:

AirPassengers           Monthly Airline Passenger Numbers 1949-1960
BJsales                 Sales Data with Leading Indicator
BJsales.lead (BJsales)
                        Sales Data with Leading Indicator
BOD                     Biochemical Oxygen Demand
CO2                     Carbon Dioxide Uptake in Grass Plants
ChickWeight             Weight versus age of chicks on different diets
DNase                   Elisa assay of DNase
EuStockMarkets          Daily Closing Prices of Major European Stock
                        Indices, 1991-1998
Formaldehyde            Determination of Formaldehyde
HairEyeColor            Hair and Eye Color of Statistics Students
Harman23.cor            Harman Example 2.3
Harman74.cor            Harman Example 7.4
Indometh                Pharmacokinetics of Indomethacin
InsectSprays            Effectiveness of Insect Sprays
JohnsonJohnson          Quarterly Earnings per Johnson & Johnson Share
LakeHuron               Level of Lake Huron 1875-1972
LifeCycleSavings        Intercountry Life-Cycle Savings Data
Loblolly                Growth of Loblolly pine trees
Nile                    Flow of the River Nile
Orange                  Growth of Orange Trees
OrchardSprays           Potency of Orchard Sprays
PlantGrowth             Results from an Experiment on Plant Growth
Puromycin               Reaction Velocity of an Enzymatic Reaction
Seatbelts               Road Casualties in Great Britain 1969-84
Theoph                  Pharmacokinetics of Theophylline
Titanic                 Survival of passengers on the Titanic
ToothGrowth             The Effect of Vitamin C on Tooth Growth in
                        Guinea Pigs
UCBAdmissions           Student Admissions at UC Berkeley
UKDriverDeaths          Road Casualties in Great Britain 1969-84
UKgas                   UK Quarterly Gas Consumption
USAccDeaths             Accidental Deaths in the US 1973-1978
USArrests               Violent Crime Rates by US State
USJudgeRatings          Lawyers' Ratings of State Judges in the US
                        Superior Court
USPersonalExpenditure   Personal Expenditure Data
UScitiesD               Distances Between European Cities and Between
                        US Cities
VADeaths                Death Rates in Virginia (1940)
WWWusage                Internet Usage per Minute
WorldPhones             The World's Telephones
ability.cov             Ability and Intelligence Tests
airmiles                Passenger Miles on Commercial US Airlines,
                        1937-1960
airquality              New York Air Quality Measurements
anscombe                Anscombe's Quartet of 'Identical' Simple Linear
                        Regressions
attenu                  The Joyner-Boore Attenuation Data
attitude                The Chatterjee-Price Attitude Data
austres                 Quarterly Time Series of the Number of
                        Australian Residents
beaver1 (beavers)       Body Temperature Series of Two Beavers
beaver2 (beavers)       Body Temperature Series of Two Beavers
cars                    Speed and Stopping Distances of Cars
chickwts                Chicken Weights by Feed Type
co2                     Mauna Loa Atmospheric CO2 Concentration
crimtab                 Student's 3000 Criminals Data
discoveries             Yearly Numbers of Important Discoveries
esoph                   Smoking, Alcohol and (O)esophageal Cancer
euro                    Conversion Rates of Euro Currencies
euro.cross (euro)       Conversion Rates of Euro Currencies
eurodist                Distances Between European Cities and Between
                        US Cities
faithful                Old Faithful Geyser Data
fdeaths (UKLungDeaths)
                        Monthly Deaths from Lung Diseases in the UK
freeny                  Freeny's Revenue Data
freeny.x (freeny)       Freeny's Revenue Data
freeny.y (freeny)       Freeny's Revenue Data
infert                  Infertility after Spontaneous and Induced
                        Abortion
iris                    Edgar Anderson's Iris Data
iris3                   Edgar Anderson's Iris Data
islands                 Areas of the World's Major Landmasses
ldeaths (UKLungDeaths)
                        Monthly Deaths from Lung Diseases in the UK
lh                      Luteinizing Hormone in Blood Samples
longley                 Longley's Economic Regression Data
lynx                    Annual Canadian Lynx trappings 1821-1934
mdeaths (UKLungDeaths)
                        Monthly Deaths from Lung Diseases in the UK
morley                  Michelson Speed of Light Data
mtcars                  Motor Trend Car Road Tests
nhtemp                  Average Yearly Temperatures in New Haven
nottem                  Average Monthly Temperatures at Nottingham,
                        1920-1939
npk                     Classical N, P, K Factorial Experiment
occupationalStatus      Occupational Status of Fathers and their Sons
precip                  Annual Precipitation in US Cities
presidents              Quarterly Approval Ratings of US Presidents
pressure                Vapor Pressure of Mercury as a Function of
                        Temperature
quakes                  Locations of Earthquakes off Fiji
randu                   Random Numbers from Congruential Generator
                        RANDU
rivers                  Lengths of Major North American Rivers
rock                    Measurements on Petroleum Rock Samples
sleep                   Student's Sleep Data
stack.loss (stackloss)
                        Brownlee's Stack Loss Plant Data
stack.x (stackloss)     Brownlee's Stack Loss Plant Data
stackloss               Brownlee's Stack Loss Plant Data
state.abb (state)       US State Facts and Figures
state.area (state)      US State Facts and Figures
state.center (state)    US State Facts and Figures
state.division (state)
                        US State Facts and Figures
state.name (state)      US State Facts and Figures
state.region (state)    US State Facts and Figures
state.x77 (state)       US State Facts and Figures
sunspot.month           Monthly Sunspot Data, from 1749 to "Present"
sunspot.year            Yearly Sunspot Data, 1700-1988
sunspots                Monthly Sunspot Numbers, 1749-1983
swiss                   Swiss Fertility and Socioeconomic Indicators
                        (1888) Data
treering                Yearly Treering Data, -6000-1979
trees                   Diameter, Height and Volume for Black Cherry
                        Trees
uspop                   Populations Recorded by the US Census
volcano                 Topographic Information on Auckland's Maunga
                        Whau Volcano
warpbreaks              The Number of Breaks in Yarn during Weaving
women                   Average Heights and Weights for American Women

Use ‘data(package = .packages(all.available = TRUE))’
to list the data sets in all *available* packages.

In [65]:
View(mtcars)

ERROR: Error in View(mtcars): ‘View()’ not yet supported in the Jupyter R kernel

In [66]:
# Get an absolute path to the current working directory
getwd()

[1] "/Users/ksatola/Documents/git/Data-Science-Notes"

---
<a id='fac'></a>

## Factors

Factors are categorical variables (like: small, medium, large). Factors are not vectors, vector methods will not work on them.

In [70]:
shirt_sizes <- c("small", "medium", "large", "small", "large")
print(shirt_sizes)

[1] "small"  "medium" "large"  "small"  "large"

In [71]:
shirt_sizes_factor <- as.factor(shirt_sizes)
print(shirt_sizes_factor)

[1] small  medium large  small  large
Levels: large medium small

In [72]:
length(shirt_sizes_factor)

[1] 5

In [73]:
is.factor(shirt_sizes_factor)

[1] TRUE

In [ ]:
---
<a id='dataframe'></a>