From: https://github.com/ksatola
Version: 0.0.1

# Data Wrangling in R (part 2)

## Table of Contents

- [Reshaping Data with tidyr](#resh)
- [Accessing databases with dbplyr](#db)
- [Accessing Web APIs](#api)

---
<a id='resh'></a>

## Reshaping Data with tidyr

One of the most common data wrangling challenges is adjusting how exactly rows and columns are used to represent data. [**tidyr ("tidy-er")**](https://tidyr.tidyverse.org/) is a package helping in structuring data frames to have the desired shape (transforming orientation) for visualization, running a statistical model or implementing a machine learning algorithm. **tidyr** helps in following the **principles of tidy data**. Tidy data is data where:

- Every column is variable.
- Every row is an observation.
- Every cell is a single value.


<img src="images/data-wide.png" alt="" style="width: 500px;"/>

The format is wide, because the price data is spread wide across multiple columns.

<img src="images/data-long.png" alt="" style="width: 500px;"/>

The format is long, because the price data has ist own column. This format includes duplicated cities and bands.

In [ ]:
# gather() - to move from wide format to long format 
#  you need to gather all of the prices into a single columns

# Reshape by gathering prices into a single feature
band_data_long <- gather(
    band_data_wide, # data frame to gather from
    # name for new column listing the gathered featu 
    # (will contain values of column names from the wide form)
    key = band, 
    # name for new column listing the gathered values 
    # (here will be all gathered values)
    value = price, 
    # columns to gather data from
    # (gather from all columns except city)
    -city 
)

<img src="images/data-tidyr-gather.png" alt="" style="width: 600px;"/>

In [ ]:
# spread() - from rows to columns, from long into wide format

# Reshape by spreading prices out among multiple features
price_by_band <- spread(
    band_data_long, # data frame to spread from
    key = city, # get new colum names from this column
    value = price # get values for the new columns from this column
)

<img src="images/data-tidyr-spread.png" alt="" style="width: 600px;"/>

In [ ]:
# Unite multiple columns into a single column
# unite()

# Separate a single column into multiple columns
# separate()

---
<a id='db'></a>

## Accessing databases with dbplyr

**[dplyr](https://github.com/tidyverse/dbplyr)** is the database backend for [dplyr](https://dplyr.tidyverse.org/). It allows you to use remote database tables as if they are in-memory data frames by automatically converting dplyr code into SQL.

To learn more about why you might use dbplyr instead of writing SQL, see vignette("sql"). To learn more about the details of the SQL translation, see vignette("translation-verb") and vignette("translation-function").

In [2]:
install.packages("dbplyr")
library("DBI")
library("dplyr")

The downloaded binary packages are in
	/var/folders/qk/0l3zx9w11959pqp8tr5s_1780000gn/T//RtmpjGbWsk/downloaded_packages

Attaching package: ‘dplyr’


The following objects are masked from ‘package:stats’:

    filter, lag


The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union

In [3]:
# To access an SQLite database 
install.packages("RSQLite") # once per machine 
library("RSQLite") # in each relevant script

# To access a Postgres database 
install.packages("RPostgreSQL") # once per machine 
library("RPostgreSQL") # in each relevant script

also installing the dependencies ‘bit’, ‘bit64’, ‘blob’

The downloaded binary packages are in
	/var/folders/qk/0l3zx9w11959pqp8tr5s_1780000gn/T//RtmpjGbWsk/downloaded_packages

The downloaded binary packages are in
	/var/folders/qk/0l3zx9w11959pqp8tr5s_1780000gn/T//RtmpjGbWsk/downloaded_packages

In [7]:
# Install and load the `dplyr`, `DBI`, and `RSQLite` packages for accessing
# databases
library("dplyr")
library("DBI")
library("RSQLite")

In [8]:
# Create a connection to the `Chinook_Sqlite.sqlite` file in the `data` folder
# Be sure to set your working directory!
db_connection <- dbConnect(SQLite(), dbname = "data/r/Chinook_Sqlite.sqlite")

In [9]:
# Use the `dbListTables()` function (passing in the connection) to get a list
# of tables in the database.
dbListTables(db_connection)

 [1] "Album"         "Artist"        "Customer"      "Employee"
 [5] "Genre"         "Invoice"       "InvoiceLine"   "MediaType"
 [9] "Playlist"      "PlaylistTrack" "Track"

In [12]:
# Use the `tbl()`function to create a reference to the table of music genres.
# Print out the the table to confirm that you've accessed it.
genre_tbl <- tbl(db_connection, "Genre")
genre_tbl

# Source:   table<Genre> [?? x 2]
# Database: sqlite 3.29.0
#   [/Users/ksatola/Documents/git/Data-Science-Notes/data/r/Chinook_Sqlite.sqlite]
   GenreId Name
     <int> <chr>
 1       1 Rock
 2       2 Jazz
 3       3 Metal
 4       4 Alternative & Punk
 5       5 Rock And Roll
 6       6 Blues
 7       7 Latin
 8       8 Reggae
 9       9 Pop
10      10 Soundtrack
# … with more rows

In [13]:
# Try to use `View()` to see the contents of the table. What happened?
View(genre_tbl)

ERROR: Error in View(genre_tbl): ‘View()’ not yet supported in the Jupyter R kernel

In [14]:
# Use the `collect()` function to actually load the genre table into memory
# as a data frame. View that data frame.
genre_df <- collect(genre_tbl)
View(genre_df)

ERROR: Error in View(genre_df): ‘View()’ not yet supported in the Jupyter R kernel

In [15]:
# Use dplyr's `count()` function to see how many rows are in the genre table
genre_tbl %>% count()

# Source:   lazy query [?? x 1]
# Database: sqlite 3.29.0
#   [/Users/ksatola/Documents/git/Data-Science-Notes/data/r/Chinook_Sqlite.sqlite]
      n
  <int>
1    25

In [16]:
# Use the `tbl()` function to create a reference the table with track data.
# Print out the the table to confirm that you've accessed it.
track_tbl <- tbl(db_connection, "Track")
print(track_tbl)

# Source:   table<Track> [?? x 9]
# Database: sqlite 3.29.0
#   [/Users/ksatola/Documents/git/Data-Science-Notes/data/r/Chinook_Sqlite.sqlite]
   TrackId Name  AlbumId MediaTypeId GenreId Composer Milliseconds  Bytes
     <int> <chr>   <int>       <int>   <int> <chr>           <int>  <int>
 1       1 For …       1           1       1 Angus Y…       343719 1.12e7
 2       2 Ball…       2           2       1 NA             342562 5.51e6
 3       3 Fast…       3           2       1 F. Balt…       230619 3.99e6
 4       4 Rest…       3           2       1 F. Balt…       252051 4.33e6
 5       5 Prin…       3           2       1 Deaffy …       375418 6.29e6
 6       6 Put …       1           1       1 Angus Y…       205662 6.71e6
 7       7 Let'…       1           1       1 Angus Y…       233926 7.64e6
 8       8 Inje…       1           1       1 Angus Y…       210834 6.85e6
 9       9 Snow…       1           1       1 Angus Y…       203102 6.60e6
10      10 Evil…       1           1       1 Angus Y…       263497 8.61e6
# … with more rows, and 1 more variable: UnitPrice <dbl>

In [17]:
# Use dplyr functions to query for a list of artists in descending order by
# popularity in the database (e.g., the artist with the most tracks at the top)
# - Start by filting for rows that have an artist listed (use `is.na()`), then
#   group rows by the artist and count them. Finally, arrange the results.
# - Use pipes to do this all as one statement without collecting the data into
#   memory!
popular_artists <- track_tbl %>%
  filter(is.na(Composer) == FALSE) %>%
  group_by(Composer) %>%
  count() %>%
  arrange(-n)
print(popular_artists)

# Source:     lazy query [?? x 2]
# Database:   sqlite 3.29.0
#   [/Users/ksatola/Documents/git/Data-Science-Notes/data/r/Chinook_Sqlite.sqlite]
# Groups:     Composer
# Ordered by: -n
   Composer                                           n
   <chr>                                          <int>
 1 Steve Harris                                      80
 2 U2                                                44
 3 Jagger/Richards                                   35
 4 Billy Corgan                                      31
 5 Kurt Cobain                                       26
 6 Bill Berry-Peter Buck-Mike Mills-Michael Stipe    25
 7 The Tea Party                                     24
 8 Chico Science                                     23
 9 Chris Cornell                                     23
10 Gilberto Gil                                      23
# … with more rows

In [19]:
# Use dplyr functions to query for the most popular _genre_ in the library.
# You will need to count the number of occurrences of each genre, and join the
# two tables together in order to also access the genre name.
# Collect the resulting data into memory in order to access the specific row of
# interest
genre_count_names_df <- genre_counts %>%
  group_by(GenreId) %>%
  count() %>%
  left_join(genre_tbl) %>%
  arrange(-count) %>%
  collect()
print(genre_count_names_df[1, "Name"])

ERROR: Error in eval(lhs, parent, parent): object 'genre_counts' not found

In [20]:
# Bonus: Query for a list of the most popular artist for each genre in the
# library (a "representative" artist for each).
# Consider using multiple grouping operations. Note that you can only filter
# for a `max()` value if you've collected the data into memory.
track_tbl %>%
  filter(is.na(Composer) == FALSE) %>%
  group_by(GenreId, Composer) %>%
  count() %>%
  left_join(genre_tbl) %>%
  select(Genre = Name, Composer, count = n) %>%
  collect() %>%
  group_by(Genre) %>%
  filter(count == max(count)) %>%
  arrange(-count)

Joining, by = "GenreId"

   GenreId Genre
1   1      Rock
2   3      Metal
3   4      Alternative & Punk
4   2      Jazz
5   7      Latin
6   6      Blues
7  10      Soundtrack
8  16      World
9  13      Heavy Metal
10 23      Alternative
11 24      Classical
12 15      Electronica/Dance
13 17      Hip Hop/Rap
14 14      R&B/Soul
15  8      Reggae
16 12      Easy Listening
17  5      Rock And Roll
18  5      Rock And Roll
19  9      Pop
20 25      Opera
   Composer                                                    count
1  U2                                                          44
2  Steve Harris                                                36
3  Billy Corgan                                                31
4  Miles Davis                                                 23
5  Chico Science                                               23
6  Chris Robinson/Rich Robinson                                18
7  Brian Eno, Bono, Adam Clayton, The Edge & Larry Mullen Jnr. 14
8  João Suplicy                                                14
9  Steve Harris                                                13
10 Chris Cornell                                               13
11 Johann Sebastian Bach                                        7
12 Toby Smith                                                   6
13 E. Schrody/L. Dimant                                         6
14 Jay Kay/Toby Smith                                           5
15 Bino Farias/Da Gama/Lazão/Toni Garrido                       4
16 jimmy van heusen/sammy cahn                                  3
17 Chuck Berry                                                  2
18 Larry Williams                                               2
19 Salaam Remi                                                  2
20 Wolfgang Amadeus Mozart                                      1

In [21]:
# Remember to disconnect from the database once you are done with it!
dbDisconnect(db_connection)

---
<a id='api'></a>

## Accessing Web APIs

Access tokens are a lot like passwords; you will want to keep them secret and not share them with others. This means that you should not include them in any files you commit to git and push to GitHub. The best way to ensure the secrecy of access tokens in R is to create a separate script file in your repo (e.g., api_keys.R) that includes exactly one line, assigning the key to a variable:

In [22]:
# Store your API key from a web service in a variable 
# It should be in a separate file (e.g., `api_keys.R`) 
api_key <- "123456789abcdefg"

In [24]:
# In your "main" script (e.g., `my_script.R`) load your API key from another file
# (Make sure working directory is set before running the following code!)
source("data/r/api_keys.R") # load the script using a *relative path* 
print(api_key) # the key is now available!

[1] "123456789abcdefg"

Anyone else who runs the script will need to provide an `api_key` variable to access the API using that user’s own key. This practice keeps everyone’s account separate.
You can keep your `api_keys.R` file from being committed by including the filename in the `.gitignore` file in your repo; that will keep it from even possibly being committed with your code!

In [ ]:
---
<a id='data'></a>