# Census Case Study

Bring together all of the skills you acquired to work on a real-life project. From connecting to a database and populating it, to reading and querying it.

In [1]:
path='data/dc25/'

## Setup the engine and metadata

In this exercise, your job is to create an engine to the database that will be used in this case study. Then, you need to initialize its metadata.

In [9]:
# Import create_engine, MetaData
from sqlalchemy import create_engine, MetaData

# Define an engine to connect to chapter5.sqlite: engine
engine = create_engine('sqlite:///'+path+'CensusCaseStudy.sqlite')

# Create a connection on engine
connection = engine.connect()

# Initialize MetaData: metadata
metadata = MetaData()

## Create the table to the database

Having setup the engine and initialized the metadata, you will now define the census table object and then create it in the database using the metadata and engine. To create it in the database, you will have to use the `.create_all()` method on the metadata with engine as the argument.

In [3]:
# Import Table, Column, String, and Integer
from sqlalchemy import (Table, Column, String, Integer, Boolean)

# Build a census table: census
census = Table('census', metadata,
               Column('state', String(30)),
               Column('sex', String(1)),
               Column('age', Integer()),
               Column('pop2000', Integer()),
               Column('pop2008', Integer()))

# Create the table in the database
metadata.create_all(engine)

When creating columns of type `String()`, it's important to spend some time thinking about what their maximum lengths should be.

## Reading the data from the CSV

Leverage the Python CSV module from the standard library and load the data into a list of dictionaries.

In [5]:
import csv

# Create an empty list: values_list
values_list = []

with open(path+'census.csv') as csv_file:
    csv_reader = csv.reader(csv_file, delimiter=',')
    for row in csv_reader:
        # Create a dictionary with the values
        data = {'state': row[0], 'sex': row[1], 'age':row[2], 'pop2000': row[3],
                'pop2008': row[4]}
        # Append the dictionary to the values list
        values_list.append(data)

In [7]:
values_list[:5]

[{'state': 'Illinois',
  'sex': 'M',
  'age': '0',
  'pop2000': '89600',
  'pop2008': '95012'},
 {'state': 'Illinois',
  'sex': 'M',
  'age': '1',
  'pop2000': '88445',
  'pop2008': '91829'},
 {'state': 'Illinois',
  'sex': 'M',
  'age': '2',
  'pop2000': '88729',
  'pop2008': '89547'},
 {'state': 'Illinois',
  'sex': 'M',
  'age': '3',
  'pop2000': '88868',
  'pop2008': '90037'},
 {'state': 'Illinois',
  'sex': 'M',
  'age': '4',
  'pop2000': '91947',
  'pop2008': '91111'}]

## Load data from a list into the Table

Using the multiple insert pattern, in this exercise, you will load the data from values_list into the table.

In [10]:
# Import insert
from sqlalchemy import insert

# Build insert statement: stmt
stmt = insert(census)

# Use values_list to insert data: results
results = connection.execute(stmt, values_list)

# Print rowcount
print(results.rowcount)

8772

## Determine the average age by population

To calculate a weighted average, we first find the total sum of weights multiplied by the values we're averaging, then divide by the sum of all the weights.

For example, if we wanted to find a weighted average of `data = [10, 30, 50]` weighted by `weights = [2,4,6]`, we would compute `(2⋅10+4⋅30+6⋅50) / (2+4+6)`, or `sum(weights * data) / sum(weights)`.

In this exercise, however, you will make use of `func.sum()` together with `select` to select the weighted average of a column from a table. You will still work with the census data, and you will compute the average of age weighted by state population in the year 2000, and then group this weighted average by sex.

In [11]:
# Import select and func
from sqlalchemy import select, func

# Select sex and average age weighted by 2000 population
stmt = select([(func.sum(census.columns.pop2000 * census.columns.age) \
                / func.sum(census.columns.pop2000)).label('average_age'),
               census.columns.sex])

# Group by sex
stmt = stmt.group_by(census.columns.sex)

# Execute the query and fetch all the results
results = connection.execute(stmt).fetchall()

# Print the sex and average age column for each result
for result in results:
    print(result.sex, result.average_age)

F 37
M 34

## Determine the percentage of population by gender and state

In this exercise, you will write a query to determine the percentage of the population in 2000 that comprised of women. You will group this query by state.

In [19]:
# import case, cast and Float from sqlalchemy
from sqlalchemy import case, cast, Float, desc

# Build a query to calculate the percentage of women in 2000: stmt
stmt = select([census.columns.state,
    (func.sum(
        case([
            (census.columns.sex == 'F', census.columns.pop2000)
        ], else_=0)) /
     cast(func.sum(census.columns.pop2000), Float) * 100).label('percent_female')
])

# Group By state
stmt = stmt.group_by(census.columns.state)

# Order By 'percent_female'
stmt = stmt.order_by(desc('percent_female'))

# Execute the query and store the results: results
results = connection.execute(stmt).fetchall()

# Print the percentage
for result in results:
    print(result.state, result.percent_female)

District of Columbia 53.129626141738385
Rhode Island 52.07343391902215
Maryland 51.93575549972231
Mississippi 51.92229481794672
Massachusetts 51.843023571316785
New York 51.83453865150073
Alabama 51.832407770179465
Louisiana 51.75351596554121
Pennsylvania 51.74043473051053
South Carolina 51.73072129765755
Connecticut 51.66816507130644
Virginia 51.657252447241795
Delaware 51.61109733558627
New Jersey 51.51713956125773
Maine 51.50570813418951
North Carolina 51.482262322084594
Missouri 51.46888602639692
Ohio 51.46550350015544
Tennessee 51.430689699449275
West Virginia 51.40042318092286
Florida 51.36488001165242
Kentucky 51.32687036927168
Arkansas 51.26992846221834
Hawaii 51.118011836915514
Georgia 51.11408350339436
Oklahoma 51.11362457075227
Illinois 51.11224234802867
New Mexico 51.0471720798335
Vermont 51.018573209949466
Michigan 50.97246518318712
Indiana 50.95480313297678
Iowa 50.950398342534264
Nebraska 50.8584549336086
New Hampshire 50.858019844961746
Kansas 50.821864107754735
Wisconsin 50.61486452653393
South Dakota 50.52583581373275
Washington 50.518565087218334
Texas 50.515721664207966
North Dakota 50.50069363231332
Minnesota 50.49332944301148
Oregon 50.4294670361772
California 50.35233214901979
Montana 50.32202690728538
Arizona 50.22361303057914
Idaho 49.98972623903102
Utah 49.97295275106927
Wyoming 49.94595542648306
Colorado 49.84767060299562
Nevada 49.36736361384359
Alaska 49.301497893484594

Interestingly, the District of Columbia had the highest percentage of women in 2000, while Alaska had the highest percentage of males.

## Determine the difference by state from the 2000 and 2008 censuses
In this final exercise, you will write a query to calculate the states that changed the most in population. You will limit your query to display only the top 10 states.

In [20]:
# Build query to return state name and population difference from 2008 to 2000
stmt = select([census.columns.state,
     (census.columns.pop2008-census.columns.pop2000).label('pop_change')
])

# Group by State
stmt = stmt.group_by(census.columns.state)

# Order by Population Change
stmt = stmt.order_by(desc('pop_change'))

# Limit to top 10
stmt = stmt.limit(10)

# Use connection to execute the statement and fetch all results
results = connection.execute(stmt).fetchall()

# Print the state and population change for each record
for result in results:
    print('{}:{}'.format(result.state, result.pop_change))

Texas:40137
California:35406
Florida:21954
Arizona:14377
Georgia:13357
North Carolina:11574
Virginia:6639
Colorado:6425
Utah:5934
Illinois:5412

It looks like the state that grew the least in population between 2000 and 2008 was North Carolina.