```
From: https://github.com/ksatola
Version: 0.0.0

TODOs
1. https://machinelearningmastery.com/standard-machine-learning-datasets/
```

# Data Sources

See datasets and their additional description in the data folder.

In [2]:
# Connect with underlying Python code
%load_ext autoreload
%autoreload 2
import sys
sys.path.insert(0, '../src')

In [3]:
from datasets import (
    get_dataset,
    add_dataset,
    add_prefix_to_list_items
)

In [4]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
%matplotlib inline

import seaborn as sns

In [5]:
#pd.set_option("display.max_rows", 200)
#pd.set_option("display.max_columns", 100)
pd.set_option("display.max_columns", None)
#pd.set_option("display.max_colwidth", 200)

## Classification

### Pima Indians Diabetes (input numeric, output categorical - binary)

In [13]:
columns = ['preg', 'plas', 'pres', 'skin', 'test', 'mass', 'pedi', 'age', 'class']
df = pd.read_csv('../data/pima-indians-diabetes.csv', names=columns)
df.head()

   preg  plas  pres  skin  test  mass   pedi  age  class
0     6   148    72    35     0  33.6  0.627   50      1
1     1    85    66    29     0  26.6  0.351   31      0
2     8   183    64     0     0  23.3  0.672   32      1
3     1    89    66    23    94  28.1  0.167   21      0
4     0   137    40    35   168  43.1  2.288   33      1

In [14]:
df.dtypes

preg       int64
plas       int64
pres       int64
skin       int64
test       int64
mass     float64
pedi     float64
age        int64
class      int64
dtype: object

In [15]:
# Missing values?
df.isnull().mean().value_counts()

0.0    9
dtype: int64

In [18]:
add_dataset(data=df, name="pima-indians-diabetes", url="../data/", type="csv", origin="This dataset is originally from the National Institute of Diabetes and Digestive and Kidney Diseases")

In [19]:
# target = 'class'
df = get_dataset('pima-indians-diabetes')
df.head()

   preg  plas  pres  skin  test  mass   pedi  age  class
0     6   148    72    35     0  33.6  0.627   50      1
1     1    85    66    29     0  26.6  0.351   31      0
2     8   183    64     0     0  23.3  0.672   32      1
3     1    89    66    23    94  28.1  0.167   21      0
4     0   137    40    35   168  43.1  2.288   33      1

### Titanic3 (input mixed, output categorical - binary)

In [5]:
# target = 'survived'
df = get_dataset('titanic3')
df.head()

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1,1,"Allen, Miss. Elisabeth Walton",female,29.0000,0,0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1,0,"Allison, Miss. Helen Loraine",female,2.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,1,0,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1,2,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"

In [11]:
df = get_dataset('titanic3_aggregated')
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41
0,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest,pclass_min,pclass_max,pclass_mean,pclass_sum,survived_min,survived_max,survived_mean,survived_sum,age_min,age_max,age_mean,age_sum,sibsp_min,sibsp_max,sibsp_mean,sibsp_sum,parch_min,parch_max,parch_mean,parch_sum,fare_min,fare_max,fare_mean,fare_sum,body_min,body_max,body_mean,body_sum
1,1,1,"Allen, Miss. Elisabeth Walton",female,29.0,0,0,24160,211.3375,B5,S,2,NaN,"St Louis, MO",1,1,1,2,1,1,1.0,2,15.0,29.0,22.0,44.0,0,0,0.0,0,0,1,0.5,1,211.3375,211.3375,211.3375,422.675,NaN,NaN,NaN,0.0
2,1,1,"Madill, Miss. Georgette Alexandra",female,15.0,0,1,24160,211.3375,B5,S,2,NaN,"St Louis, MO",1,1,1,2,1,1,1.0,2,15.0,29.0,22.0,44.0,0,0,0.0,0,0,1,0.5,1,211.3375,211.3375,211.3375,422.675,NaN,NaN,NaN,0.0
3,1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.55,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON",1,1,1,4,0,1,0.25,1,0.9167,30.0,14.479175,57.9167,1,1,1.0,4,2,2,2.0,8,151.55,151.55,151.55,606.2,135.0,135.0,135.0,135.0
4,1,0,"Allison, Miss. Helen Loraine",female,2.0,1,2,113781,151.55,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON",1,1,1,4,0,1,0.25,1,0.9167,30.0,14.479175,57.9167,1,1,1.0,4,2,2,2.0,8,151.55,151.55,151.55,606.2,135.0,135.0,135.0,135.0

### Sonar (input numerical, output categorical - binary)
The Sonar Dataset involves the prediction of whether or not an object is a mine or a rock given the strength of sonar returns at different angles. It is a binary (2-class) classification problem. The number of observations for each class is not balanced. There are 208 observations with 60 input variables and 1 output variable. The variable names are as follows:
- Sonar returns at different angles (columns 0-59)
- Class (M for mine and R for rock) - column 60

In [47]:
df = pd.read_csv('../data/sonar.csv', header=None)
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60
0,0.0200,0.0371,0.0428,0.0207,0.0954,0.0986,0.1539,0.1601,0.3109,0.2111,0.1609,0.1582,0.2238,0.0645,0.0660,0.2273,0.3100,0.2999,0.5078,0.4797,0.5783,0.5071,0.4328,0.5550,0.6711,0.6415,0.7104,0.8080,0.6791,0.3857,0.1307,0.2604,0.5121,0.7547,0.8537,0.8507,0.6692,0.6097,0.4943,0.2744,0.0510,0.2834,0.2825,0.4256,0.2641,0.1386,0.1051,0.1343,0.0383,0.0324,0.0232,0.0027,0.0065,0.0159,0.0072,0.0167,0.0180,0.0084,0.0090,0.0032,R
1,0.0453,0.0523,0.0843,0.0689,0.1183,0.2583,0.2156,0.3481,0.3337,0.2872,0.4918,0.6552,0.6919,0.7797,0.7464,0.9444,1.0000,0.8874,0.8024,0.7818,0.5212,0.4052,0.3957,0.3914,0.3250,0.3200,0.3271,0.2767,0.4423,0.2028,0.3788,0.2947,0.1984,0.2341,0.1306,0.4182,0.3835,0.1057,0.1840,0.1970,0.1674,0.0583,0.1401,0.1628,0.0621,0.0203,0.0530,0.0742,0.0409,0.0061,0.0125,0.0084,0.0089,0.0048,0.0094,0.0191,0.0140,0.0049,0.0052,0.0044,R
2,0.0262,0.0582,0.1099,0.1083,0.0974,0.2280,0.2431,0.3771,0.5598,0.6194,0.6333,0.7060,0.5544,0.5320,0.6479,0.6931,0.6759,0.7551,0.8929,0.8619,0.7974,0.6737,0.4293,0.3648,0.5331,0.2413,0.5070,0.8533,0.6036,0.8514,0.8512,0.5045,0.1862,0.2709,0.4232,0.3043,0.6116,0.6756,0.5375,0.4719,0.4647,0.2587,0.2129,0.2222,0.2111,0.0176,0.1348,0.0744,0.0130,0.0106,0.0033,0.0232,0.0166,0.0095,0.0180,0.0244,0.0316,0.0164,0.0095,0.0078,R
3,0.0100,0.0171,0.0623,0.0205,0.0205,0.0368,0.1098,0.1276,0.0598,0.1264,0.0881,0.1992,0.0184,0.2261,0.1729,0.2131,0.0693,0.2281,0.4060,0.3973,0.2741,0.3690,0.5556,0.4846,0.3140,0.5334,0.5256,0.2520,0.2090,0.3559,0.6260,0.7340,0.6120,0.3497,0.3953,0.3012,0.5408,0.8814,0.9857,0.9167,0.6121,0.5006,0.3210,0.3202,0.4295,0.3654,0.2655,0.1576,0.0681,0.0294,0.0241,0.0121,0.0036,0.0150,0.0085,0.0073,0.0050,0.0044,0.0040,0.0117,R
4,0.0762,0.0666,0.0481,0.0394,0.0590,0.0649,0.1209,0.2467,0.3564,0.4459,0.4152,0.3952,0.4256,0.4135,0.4528,0.5326,0.7306,0.6193,0.2032,0.4636,0.4148,0.4292,0.5730,0.5399,0.3161,0.2285,0.6995,1.0000,0.7262,0.4724,0.5103,0.5459,0.2881,0.0981,0.1951,0.4181,0.4604,0.3217,0.2828,0.2430,0.1979,0.2444,0.1847,0.0841,0.0692,0.0528,0.0357,0.0085,0.0230,0.0046,0.0156,0.0031,0.0054,0.0105,0.0110,0.0015,0.0072,0.0048,0.0107,0.0094,R

In [48]:
#y = df[[60]]
#X = df.drop(columns=60)
df[60]

0      R
1      R
2      R
3      R
4      R
      ..
203    M
204    M
205    M
206    M
207    M
Name: 60, Length: 208, dtype: object

In [49]:
cols = df.columns.to_list()
cols[55:]

[55, 56, 57, 58, 59, 60]

In [50]:
# Column names should start with a letter, otherwise some libraries throw errors
cols[60] = f"{'class'}" # target (dependent variable)
cols[0:60] = add_prefix_to_list_items('v', cols[:60]) # independent variables
cols[55:]

['v55', 'v56', 'v57', 'v58', 'v59', 'class']

In [54]:
df.columns=cols
df.sample(5)

,v0,v1,v2,v3,v4,v5,v6,v7,v8,v9,v10,v11,v12,v13,v14,v15,v16,v17,v18,v19,v20,v21,v22,v23,v24,v25,v26,v27,v28,v29,v30,v31,v32,v33,v34,v35,v36,v37,v38,v39,v40,v41,v42,v43,v44,v45,v46,v47,v48,v49,v50,v51,v52,v53,v54,v55,v56,v57,v58,v59,class
185,0.0340,0.0625,0.0381,0.0257,0.0441,0.1027,0.1287,0.1850,0.2647,0.4117,0.5245,0.5341,0.5554,0.3915,0.2950,0.3075,0.3021,0.2719,0.5443,0.7932,0.8751,0.8667,0.7107,0.6911,0.7287,0.8792,1.0000,0.9816,0.8984,0.6048,0.4934,0.5371,0.4586,0.2908,0.0774,0.2249,0.1602,0.3958,0.6117,0.5196,0.2321,0.4370,0.3797,0.4322,0.4892,0.1901,0.0940,0.1364,0.0906,0.0144,0.0329,0.0141,0.0019,0.0067,0.0099,0.0042,0.0057,0.0051,0.0033,0.0058,M
36,0.0094,0.0166,0.0398,0.0359,0.0681,0.0706,0.1020,0.0893,0.0381,0.1328,0.1303,0.0273,0.0644,0.0712,0.1204,0.0717,0.1224,0.2349,0.3684,0.3918,0.4925,0.8793,0.9606,0.8786,0.6905,0.6937,0.5674,0.6540,0.7802,0.7575,0.5836,0.6316,0.8108,0.9039,0.8647,0.6695,0.4027,0.2370,0.2685,0.3662,0.3267,0.2200,0.2996,0.2205,0.1163,0.0635,0.0465,0.0422,0.0174,0.0172,0.0134,0.0141,0.0191,0.0145,0.0065,0.0129,0.0217,0.0087,0.0077,0.0122,R
103,0.0162,0.0253,0.0262,0.0386,0.0645,0.0472,0.1056,0.1388,0.0598,0.1334,0.2969,0.4754,0.5677,0.5690,0.6421,0.7487,0.8999,1.0000,0.9690,0.9032,0.7685,0.6998,0.6644,0.5964,0.3711,0.0921,0.0481,0.0876,0.1040,0.1714,0.3264,0.4612,0.3939,0.5050,0.4833,0.3511,0.2319,0.4029,0.3676,0.1510,0.0745,0.1395,0.1552,0.0377,0.0636,0.0443,0.0264,0.0223,0.0187,0.0077,0.0137,0.0071,0.0082,0.0232,0.0198,0.0074,0.0035,0.0100,0.0048,0.0019,M
25,0.0201,0.0026,0.0138,0.0062,0.0133,0.0151,0.0541,0.0210,0.0505,0.1097,0.0841,0.0942,0.1204,0.0420,0.0031,0.0162,0.0624,0.2127,0.3436,0.3813,0.3825,0.4764,0.6313,0.7523,0.8675,0.8788,0.7901,0.8357,0.9631,0.9619,0.9236,0.8903,0.9708,0.9647,0.7892,0.5307,0.2718,0.1953,0.1374,0.3105,0.3790,0.4105,0.3355,0.2998,0.2748,0.2024,0.1043,0.0453,0.0337,0.0122,0.0072,0.0108,0.0070,0.0063,0.0030,0.0011,0.0007,0.0024,0.0057,0.0044,R
184,0.0269,0.0383,0.0505,0.0707,0.1313,0.2103,0.2263,0.2524,0.3595,0.5915,0.6675,0.5679,0.5175,0.3334,0.2002,0.2856,0.2937,0.3424,0.5949,0.7526,0.8959,0.8147,0.7109,0.7378,0.7201,0.8254,0.8917,0.9820,0.8179,0.4848,0.3203,0.2775,0.2382,0.2911,0.1675,0.3156,0.1869,0.3391,0.5993,0.4124,0.1181,0.3651,0.4655,0.4777,0.3517,0.0920,0.1227,0.1785,0.1085,0.0300,0.0346,0.0167,0.0199,0.0145,0.0081,0.0045,0.0043,0.0027,0.0055,0.0057,M

In [55]:
add_dataset(data=df, name="sonar", url="../data/", type="csv", origin="The Sonar Dataset involves the prediction of whether or not an object is a mine or a rock given the strength of sonar returns at different angles: https://archive.ics.uci.edu/ml/datasets/Connectionist+Bench+(Sonar,+Mines+vs.+Rocks)")

In [56]:
# target = 'class'
df = get_dataset('sonar')
df.head()

,v0,v1,v2,v3,v4,v5,v6,v7,v8,v9,v10,v11,v12,v13,v14,v15,v16,v17,v18,v19,v20,v21,v22,v23,v24,v25,v26,v27,v28,v29,v30,v31,v32,v33,v34,v35,v36,v37,v38,v39,v40,v41,v42,v43,v44,v45,v46,v47,v48,v49,v50,v51,v52,v53,v54,v55,v56,v57,v58,v59,class
0,0.0200,0.0371,0.0428,0.0207,0.0954,0.0986,0.1539,0.1601,0.3109,0.2111,0.1609,0.1582,0.2238,0.0645,0.0660,0.2273,0.3100,0.2999,0.5078,0.4797,0.5783,0.5071,0.4328,0.5550,0.6711,0.6415,0.7104,0.8080,0.6791,0.3857,0.1307,0.2604,0.5121,0.7547,0.8537,0.8507,0.6692,0.6097,0.4943,0.2744,0.0510,0.2834,0.2825,0.4256,0.2641,0.1386,0.1051,0.1343,0.0383,0.0324,0.0232,0.0027,0.0065,0.0159,0.0072,0.0167,0.0180,0.0084,0.0090,0.0032,R
1,0.0453,0.0523,0.0843,0.0689,0.1183,0.2583,0.2156,0.3481,0.3337,0.2872,0.4918,0.6552,0.6919,0.7797,0.7464,0.9444,1.0000,0.8874,0.8024,0.7818,0.5212,0.4052,0.3957,0.3914,0.3250,0.3200,0.3271,0.2767,0.4423,0.2028,0.3788,0.2947,0.1984,0.2341,0.1306,0.4182,0.3835,0.1057,0.1840,0.1970,0.1674,0.0583,0.1401,0.1628,0.0621,0.0203,0.0530,0.0742,0.0409,0.0061,0.0125,0.0084,0.0089,0.0048,0.0094,0.0191,0.0140,0.0049,0.0052,0.0044,R
2,0.0262,0.0582,0.1099,0.1083,0.0974,0.2280,0.2431,0.3771,0.5598,0.6194,0.6333,0.7060,0.5544,0.5320,0.6479,0.6931,0.6759,0.7551,0.8929,0.8619,0.7974,0.6737,0.4293,0.3648,0.5331,0.2413,0.5070,0.8533,0.6036,0.8514,0.8512,0.5045,0.1862,0.2709,0.4232,0.3043,0.6116,0.6756,0.5375,0.4719,0.4647,0.2587,0.2129,0.2222,0.2111,0.0176,0.1348,0.0744,0.0130,0.0106,0.0033,0.0232,0.0166,0.0095,0.0180,0.0244,0.0316,0.0164,0.0095,0.0078,R
3,0.0100,0.0171,0.0623,0.0205,0.0205,0.0368,0.1098,0.1276,0.0598,0.1264,0.0881,0.1992,0.0184,0.2261,0.1729,0.2131,0.0693,0.2281,0.4060,0.3973,0.2741,0.3690,0.5556,0.4846,0.3140,0.5334,0.5256,0.2520,0.2090,0.3559,0.6260,0.7340,0.6120,0.3497,0.3953,0.3012,0.5408,0.8814,0.9857,0.9167,0.6121,0.5006,0.3210,0.3202,0.4295,0.3654,0.2655,0.1576,0.0681,0.0294,0.0241,0.0121,0.0036,0.0150,0.0085,0.0073,0.0050,0.0044,0.0040,0.0117,R
4,0.0762,0.0666,0.0481,0.0394,0.0590,0.0649,0.1209,0.2467,0.3564,0.4459,0.4152,0.3952,0.4256,0.4135,0.4528,0.5326,0.7306,0.6193,0.2032,0.4636,0.4148,0.4292,0.5730,0.5399,0.3161,0.2285,0.6995,1.0000,0.7262,0.4724,0.5103,0.5459,0.2881,0.0981,0.1951,0.4181,0.4604,0.3217,0.2828,0.2430,0.1979,0.2444,0.1847,0.0841,0.0692,0.0528,0.0357,0.0085,0.0230,0.0046,0.0156,0.0031,0.0054,0.0105,0.0110,0.0015,0.0072,0.0048,0.0107,0.0094,R

### Breast Cancer Categorical Dataset (input categorical, output categorical - binary)

The [Breast Cancer Categorical Dataset](https://archive.ics.uci.edu/ml/datasets/Breast+Cancer) dataset classifies breast cancer patient data as either a recurrence or no recurrence of cancer. There are 286 examples and nine input variables. All nine input variables are categorical. It is a **binary classification problem**. A naive model can achieve an accuracy of 70% on this dataset. A good score is about 76% +/- 3%.

In [41]:
cols = ['age', 'menopause', 'tumor-size', 'inv-nodes', 'node-caps', 'deg-malig', 'breast', 'breast-quad', 'irradiat', 'class']
df = pd.read_csv('../data/breast-cancer.data', names=cols)
df.head()

,age,menopause,tumor-size,inv-nodes,node-caps,deg-malig,breast,breast-quad,irradiat,class
0,'40-49','premeno','15-19','0-2','yes','3','right','left_up','no','recurrence-events'
1,'50-59','ge40','15-19','0-2','no','1','right','central','no','no-recurrence-events'
2,'50-59','ge40','35-39','0-2','no','2','left','left_low','no','recurrence-events'
3,'40-49','premeno','35-39','0-2','yes','3','right','left_low','yes','no-recurrence-events'
4,'40-49','premeno','30-34','3-5','yes','2','left','right_up','no','recurrence-events'

In [42]:
df.dtypes

age            object
menopause      object
tumor-size     object
inv-nodes      object
node-caps      object
deg-malig      object
breast         object
breast-quad    object
irradiat       object
class          object
dtype: object

In [43]:
# Remove '' from all columns
for col in cols:
    df[col] = df[col].map(lambda x: str(x).rstrip("'").lstrip("'"))

In [44]:
df.to_csv("../data/breast-cancer.csv", index=False)

In [45]:
add_dataset(data=df, name="breast-cancer", url="../data/", type="csv", origin="Breast cancer patient data as either a recurrence or no recurrence of cancer")

dataset.py | 74 | add_dataset | 28-Sep-20 21:53:44 | INFO: Dataset name already exists

In [46]:
# target = 'class'
df = get_dataset('breast-cancer')
df.head()

,age,menopause,tumor-size,inv-nodes,node-caps,deg-malig,breast,breast-quad,irradiat,class
0,40-49,premeno,15-19,0-2,yes,3,right,left_up,no,recurrence-events
1,50-59,ge40,15-19,0-2,no,1,right,central,no,no-recurrence-events
2,50-59,ge40,35-39,0-2,no,2,left,left_low,no,recurrence-events
3,40-49,premeno,35-39,0-2,yes,3,right,left_low,yes,no-recurrence-events
4,40-49,premeno,30-34,3-5,yes,2,left,right_up,no,recurrence-events

## Regression

### Boston Housing (input numerical, output numerical)

```
CRIM - per capita crime rate by town
ZN - proportion of residential land zoned for lots over 25,000 sq.ft.
INDUS - proportion of non-retail business acres per town.
CHAS - Charles River dummy variable (1 if tract bounds river; 0 otherwise)
NOX - nitric oxides concentration (parts per 10 million)
RM - average number of rooms per dwelling
AGE - proportion of owner-occupied units built prior to 1940
DIS - weighted distances to five Boston employment centres
RAD - index of accessibility to radial highways
TAX - full-value property-tax rate per $10,000
PTRATIO - pupil-teacher ratio by town
B - 1000(Bk - 0.63)^2 where Bk is the proportion of blacks by town
LSTAT - % lower status of the population
MEDV - Median value of owner-occupied homes in $1000's
```

In [12]:
df = pd.read_csv('../data/boston_housing.csv')
df.head()

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,b,lstat,medv
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2

In [13]:
add_dataset(data=df, name="boston_housing", url="../data/", type="csv", origin="Housing in the area of Boston Mass")

dataset.py | 65 | add_dataset | 26-Sep-20 17:36:13 | ERROR: Dataset file already exists: ../data/boston_housing.csv

In [15]:
# target = 'medv'
df = get_dataset('boston_housing')
df.head()

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,b,lstat,medv
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2

### Multicollinearity (input numerical, output numerical)
```
independent variables (physical activity, body fat percentage, weight, and the interaction between weight and body fat) 
standardised versions of inependent variables 9%Fat S, Weight S, Activity S)
the dependent variable (bone mineral density of the femoral neck)
```

In [6]:
#cols = ['age', 'menopause', 'tumor-size', 'inv-nodes', 'node-caps', 'deg-malig', 'breast', 'breast-quad', 'irradiat', 'class']
df = pd.read_csv('../data/MulticollinearityExample.csv')
df.head()

   Femoral Neck  %Fat  Weight kg  Activity    %Fat S   Weight S   Activity S
0         0.934  25.3  52.163126   3508.44 -3.265217  -1.765066   946.450435
1         0.888  29.3  61.801964   2773.54  0.734783   7.873772   211.550435
2         0.933  37.7  93.440034   1738.97  9.134783  39.511842  -823.019565
3         0.757  32.8  59.874197   1665.29  4.234783   5.946005  -896.699565
4         1.031  24.6  50.348756   3982.95 -3.965217  -3.579436  1420.960435

In [7]:
#add_dataset(data=df, name="multicollinearity", url="../data/", type="csv", origin="Multicollinearity Example: Predicting Bone Density in the Femur")

### Heteroscedasticity (input numerical, output numerical)
```
 Accident as the dependent variable and Population for the independent variable
```

In [6]:
df = pd.read_csv('../data/Heteroscedasticity.csv')
df.head()

   Accidents  AccidentRate     Population    Weight
0         20      0.000135  147603.989041  0.000007
1         38      0.000062  611903.157933  0.000002
2         17      0.000120  141304.462040  0.000007
3         16      0.000078  204849.503667  0.000005
4         20      0.000131  152426.475662  0.000007

In [7]:
#add_dataset(data=df, name="heteroscedasticity", url="../data/", type="csv", origin="Heteroscedasticity Example: Number of automobile accidents by the population of towns and cities")

## Random data to demonstrate data mining problems
101 columns of data, and each one contains 30 rows of entirely random data. The first column (C1) will be the dependent variable, and the other 100 columns are potential independent variables.

In [8]:
df = pd.read_csv('../data/Random_data.csv')
df.head()

,C1,C2,C3,C4,C5,C6,C7,C8,C9,C10,C11,C12,C13,C14,C15,C16,C17,C18,C19,C20,C21,C22,C23,C24,C25,C26,C27,C28,C29,C30,C31,C32,C33,C34,C35,C36,C37,C38,C39,C40,C41,C42,C43,C44,C45,C46,C47,C48,C49,C50,C51,C52,C53,C54,C55,C56,C57,C58,C59,C60,C61,C62,C63,C64,C65,C66,C67,C68,C69,C70,C71,C72,C73,C74,C75,C76,C77,C78,C79,C80,C81,C82,C83,C84,C85,C86,C87,C88,C89,C90,C91,C92,C93,C94,C95,C96,C97,C98,C99,C100,C101
0,-0.635418,-0.579130,-0.676321,-0.604970,-0.625573,-0.076850,-0.117557,0.052531,-2.148799,-0.708732,-2.234344,0.333315,-1.420903,-0.617101,-0.161440,0.978259,-0.206352,0.635504,-0.938904,0.954596,1.059153,-2.225686,-1.675741,0.446700,-1.254807,-0.182743,-0.637079,-0.446600,0.649627,0.139303,-0.060757,0.585429,-0.732995,-1.497753,-0.723758,-0.850850,-0.344663,-0.560119,1.404132,0.449966,-0.061017,1.308799,1.117805,0.331905,1.112252,0.264590,0.956815,0.553015,0.159534,-0.384510,-0.918055,1.048991,0.077142,1.066701,0.054128,-0.283843,-1.939280,-0.727747,0.310815,0.242532,-0.919556,0.753130,0.113213,0.565804,0.107787,0.537560,0.213584,-0.435528,0.865842,-1.471516,-0.692598,-0.778141,-0.292179,0.571478,0.079633,-0.831628,-0.670485,-1.928515,0.691616,0.882481,0.222818,0.118078,-1.315316,-0.279909,0.871193,0.463811,-1.367737,1.185409,0.512058,0.439442,-0.897801,-0.340362,0.454675,0.680194,-0.853380,-0.519645,0.325074,-0.398741,-0.865025,0.987153,2.083426
1,0.789120,-0.029943,-0.030433,1.015895,0.402405,-0.967939,-0.416510,0.046567,0.103896,-0.218818,1.674899,-0.019631,0.633296,-0.371775,-0.341917,2.317450,0.198136,0.963944,0.496592,0.584768,-1.339651,-0.756910,-1.856346,0.804410,0.152277,-0.054473,-0.945899,-0.782406,0.945099,-1.624423,-3.309953,0.865498,1.580695,1.342819,-0.143018,-1.932115,1.074966,1.415178,-0.157434,-1.048444,0.311139,0.024837,1.496710,-0.392474,-0.460004,0.397455,-2.291784,-0.354361,0.502806,0.317330,0.715731,1.564083,-0.694396,0.794053,2.925679,-1.661918,-0.726408,0.547370,2.152552,-0.895570,-0.255379,0.478331,0.129302,-0.228494,0.718422,-0.403098,-0.809894,-0.419990,2.140260,-0.433753,-0.595275,1.358644,0.292838,2.658161,0.011472,-1.421724,-1.495832,0.893527,-0.567959,0.737798,0.459309,-0.348378,-2.089766,-0.558031,-1.476242,-0.864062,1.332051,-0.615150,1.660421,1.457975,1.111749,0.636485,0.562326,0.127324,-1.577315,-0.930546,-0.901475,-0.763227,-0.703632,0.637635,0.384451
2,1.605939,1.049132,0.162055,-0.516985,0.109957,0.458772,-0.531809,2.613801,-1.506208,0.184250,1.186120,-0.643803,-1.846327,0.749382,-0.943563,0.367059,0.375751,-1.206951,0.224241,-0.456090,-1.345122,1.163206,0.691662,-0.087820,0.472691,0.197561,1.418834,0.076955,0.759858,-0.865573,-0.307341,-0.742035,0.051612,-0.047959,-2.200497,-0.102459,0.075956,-0.261534,-0.687090,0.620304,0.704814,0.884366,0.780675,-0.799572,1.570633,1.138045,0.412567,1.169074,-0.931352,-1.476755,-0.945067,0.070976,-0.958333,-2.511810,-0.356678,-0.998678,0.615225,0.092412,-0.010038,-1.901342,0.100145,-0.673682,-0.137577,-1.652841,-0.312915,-1.508869,-0.078268,1.746514,-0.861283,1.073904,-0.378180,-0.216031,0.055083,-1.078822,0.366289,-0.639658,1.572220,0.623246,1.473652,1.021603,0.587852,-1.788580,-0.448394,-1.124682,0.186828,-0.979549,0.952433,0.812574,-1.456339,1.581383,0.130049,0.155942,-0.908405,0.955394,0.780379,-0.656410,-0.047792,0.088879,-0.465415,1.063126,0.900271
3,0.339110,1.150962,1.701447,-0.129415,1.278501,-0.960337,-0.075751,-0.864351,-1.610699,-1.797953,0.034645,2.174595,-0.064133,-0.957068,0.968501,0.603285,0.185937,2.544462,1.379530,0.967179,0.161904,0.159945,-0.512849,1.321063,-0.144903,1.024776,0.080226,0.285473,0.791281,0.954008,1.615004,1.473339,1.046741,0.661410,-0.028761,0.817685,0.086311,0.393541,-0.976212,-0.318865,0.414981,-0.553060,1.214434,0.687004,-0.036854,0.816978,-0.210507,-1.178084,0.132521,-1.017934,-1.025752,0.652149,-0.908142,-0.062657,-1.064170,0.356286,0.973449,-0.890360,-0.179260,0.163429,0.875657,0.728786,-0.814678,-0.998854,-0.789822,0.101986,-0.058567,-0.614908,0.172417,0.454649,-1.723966,-0.924118,1.048533,1.098329,0.592512,0.261223,0.887575,0.180232,-1.211490,0.033321,-2.577725,-2.155099,-0.749337,2.169202,2.457438,-0.824779,0.393411,0.195974,-1.772370,1.562339,0.065662,1.039415,0.018883,0.476241,1.050285,0.589970,-1.162643,0.172146,0.357803,1.946083,-1.153739
4,0.422166,-0.557173,-0.669985,-0.148770,-0.791304,0.318879,-0.946038,0.002033,-1.048584,-0.956571,-0.533858,-1.115181,0.471457,-0.860000,-0.310074,0.057906,-0.325400,-1.175802,1.142363,-1.027119,0.519938,-0.410832,0.465339,-1.479425,0.450475,0.215358,0.948645,-1.678437,-0.283511,0.354861,-1.167281,-0.870955,-0.158274,1.733437,1.097136,1.413902,1.190406,0.230203,0.046035,-2.709800,1.770803,-1.085148,-0.598788,-0.063461,-0.997272,1.534824,1.015186,-0.278466,0.481399,-0.338267,0.674008,-0.070789,0.258063,-0.449171,0.063738,1.161516,-0.794154,-1.297893,1.660521,0.756466,1.074854,0.364829,1.306942,0.650690,0.475334,1.002186,-0.847262,-1.338301,-0.113073,-0.107411,0.859034,-2.473556,-2.965993,0.264095,2.377737,-0.796162,-0.483203,0.174051,1.082763,0.250952,1.337983,0.078790,0.040013,1.124305,0.458504,-1.984199,-0.122213,1.672332,0.809881,-0.886255,-0.208263,0.227441,-1.820885,-1.356901,-1.550917,-0.298832,0.694426,0.293901,0.494673,1.134619,1.084429

In [9]:
#add_dataset(data=df, name="random", url="../data/", type="csv", origin="Random data")