# Pandas

In [1]:
# Connect with underlying Python code
%load_ext autoreload
%autoreload 2
import sys
sys.path.insert(0, '../src')

In [2]:
from datasets import (
    get_dataset
)

In [3]:
import pandas as pd

import matplotlib.pyplot as plt
%matplotlib inline

In [4]:
df = get_dataset('titanic3')

## .iloc
A pandas DataFrame has an `.iloc` attribute that we can do index operations on. It will let us pick out rows and columns by index location. We pass in the row positions as a scalar, list, or slice, and then we can add a comma and pass in the column positions as a scalar, list, or slice.

In [5]:
# Pull out the second and fifth row, and the last three columns:

df.iloc[[1, 4], -3:]

  boat  body                        home.dest
1   11   NaN  Montreal, PQ / Chesterville, ON
4  NaN   NaN  Montreal, PQ / Chesterville, ON

## .loc
There is also a `.loc` attribute, and we can put out rows and columns based on name (rather than position).

In [6]:
df.loc[[1, 4], "boat":]

  boat  body                        home.dest
1   11   NaN  Montreal, PQ / Chesterville, ON
4  NaN   NaN  Montreal, PQ / Chesterville, ON